<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 添加移动端适配视口设置 -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet">
    <title>添加新奖励或任务</title>
</head>
<body>
<h1>添加</h1>
<form action="/add_new_submit?type={{type}}" method="POST">
    <div style="margin: 10px;">
        <label>名称：</label>
        <input name="name" required style="padding: 5px; width: 200px;"
               type="text">
    </div>
    <div style="margin: 10px;">
        <label>分值：</label>
        <input min="1" name="points" required style="padding: 5px; width: 100px;"
               type="number">
    </div>
    <input name="entry_type" type="hidden" value="{{ entry_type }}">
    <button type="submit">
        提交
    </button>
</form>
</body>
</html>