<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 添加移动端适配视口设置 -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet">
    <title>用户登录</title>
</head>
<body>
<h1>登录</h1>
<form action="/login_submit" method="post">
    <label for="username">用户名</label>
    <input id="username" name="username" type="text"><br>
    <label for="password">密码</label>
    <input id="password" name="password" type="password"><br>
    <button type="submit">登录</button>
</form>
<a href="/register">注册</a>
</body>
</html>