<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>参数测试页面</title>
</head>
<body>
    <h1>参数测试结果</h1>
    <p>name: {{ name }}</p>
    <p>value: {{ value }}</p>
    <p>time: {{ time }}</p>
    <p>repeat: {{ repeat }}</p>
    <form action="/point" method="post">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="value" value="{{ value }}">
        <input type="hidden" name="time" value="{{ time }}">
        <input type="hidden" name="repeat" value="{{ repeat }}">
        
        <button type="submit">提交</button>
    </form>
</body>
</html>
